:root{
    --colorRed: firebrick;
    --colorGreen: darkolivegreen;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
}



section:nth-child(odd) {
    background-color: #3c3c3c;
}



.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.blue-content{
    color: #0b578b;
}

.blue-footer{
    color: #337ab7;
}

.blue-dark{
    background-color: #052840;
}

.gold {
    background-color: gold;
}

.red {
    background-color: var(--colorRed);
}

.green {
    background-color: darkolivegreen;
}

.pink {
    background-color: pink;
}
.white{
    background-color: white;
}

.pad-arround {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
    height: auto;
    background-color: white;
}

.margin-arround {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
    min-height: 160px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, .5); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */

}

#myBtn:hover {
    background-color: rgba(85, 85, 85, .5); /* Add a dark-grey background on hover */
}


.column {
    display: flex;
    flex-direction: column;
}

.color-red {
    color: var(--colorRed);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.half_size {
    width: 50%;
}

.full-screen{
    height: 100vh;
    width: 100%;
}

.active a {
    color: gold;
}

.background-article, .background-article-solo {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-article {
    height: 250px;
}

.background-article-solo {
    height: 450px;
}

article {
    margin: 20px;
    padding: 20px;
    background-color: #FFF;
    color: #191919;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

article h3 {
    margin-top: 20px;
}

article small {
    margin-bottom: 20px;
}

article a {
    margin: 20px auto;
    width: max-content;
}

.btns {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3C3C3C;
    color: gold;
    transform-origin: 50% 50%;
    transform: scale(1);
    border: 1px solid transparent;
    transition: all linear 0.15s;
}

.btns:hover {
    background-color: gold;
    border: 1px solid #3C3C3C;
    color: #000;
    transform: scale(1.1);
}