
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1.5s;
    width: 70%;
    padding: 35px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    margin: auto;
}
.container-title {
    text-transform: uppercase;
    padding: 10px 10px 10px 0px;
    margin: auto;
}

.container button{
    margin: 15px;
    padding: 12px 28px 12px 12px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #01db01;
    border-color: transparent;
    border-radius: 40px;
    text-transform: uppercase;
}