
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    padding: 20px 30px;
    width: calc(100% - 60px);
}

nav, nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 40px);
}

nav {
    width: 100%;
}

nav ul {
    width: 80%;
}

.logo-nav {
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav img {
    width: 200px;
}

nav ul li {
    padding: 10px;
    margin: 0 10px;
}

nav ul li a {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

#burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25px;
    height: 30px;
    position: relative;
    left: 0;
    transition: all linear 0.2s;
}

.burger-closed {
    left: 5px!important;
}

.burger-closed .burger-line:nth-child(2) {
    opacity: 0!important;
}

.burger-line {
    height: 2px;
    background-color: #052840;
    width: 100%;
    border-radius: 100px;
    display: flex;
    transform-origin: 4%;
    transform: rotate(0deg);
    transition: all linear 0.2s;
}

.burger-line:nth-child(2) {
    margin: 6px 0;
}

.burger-closed .burger-line:nth-child(1) {
    transform: rotate(45deg);
}

.burger-closed .burger-line:nth-child(3) {
    transform: rotate(-45deg);
}

#burger-container p {
    font-size: 26px;
    font-weight: bold;
}

